/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

:root{
    --main-color:orange;
    --dark-color:rgb(255 165 0);
    --step-color:#ced7e0;
    --step-size:32px;
    --steps: 3;
    --progress-width: calc((var(--steps) -1 ) / var(--steps) * 100%);
}

.step{
    height: 100vh;
    display: grid;
    place-items: center;
    /* background-color: lavender; */
    color: #333;
}

/* form styles */

.form-wizard{
    background-color: #fff;
    padding: 32px;
    border: 8px;
    width: min(600px, 80%);
    /* box-shadow: 0 4px rgba(167, 21, 84, 0.1); */
}

.progress-container{
    position: relative;
}

.progress-container::before{
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--step-color);
    position: absolute;
    top: calc(var(--step-size) / 2);
  translate: 0 -50%;
}

.progress-container ol{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    counter-reset: step-number;
}

.progress-container li{
    border: 1px solid hsl(0, 0%, 0%);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: var(--step-color);
}

.progress-container li::before{
    counter-increment: step-number;
    content: counter(step-number);
    background-color: var(--step-color);
    width: var(--step-size);
    height: var(--step-size);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
}

